/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #2A2A2E;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.nav-link {
    color: black;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
}

.calculator {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4b4949+0,423e3d+100 */
    background: #4b4949;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#4b4949), to(#423e3d));
    background: -o-linear-gradient(left, #4b4949 0%, #423e3d 100%);
    background: linear-gradient(to right, #4b4949 0%, #423e3d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4b4949', endColorstr='#423e3d', GradientType=1); */
    /* IE6-9 */
    border-bottom: 20px solid #423e3d;
    border-left: 15px solid #5a5757;
    border-radius: 20px 5px 20px 5px;
    border-right: 5px solid #433f3f;
    font-family: "Roboto Condensed", sans-serif;
    height: auto;
    margin-top: 10px;
    margin: auto;
    max-height: 640px;
    max-width: 350px;
    min-height: 400px;
    min-width: 270px;
    padding-bottom: 10px;
    width: 100%;
}

.calculator-inner {
    height: 100%;
    margin: auto;
    padding: 6% 0 0 0;
    width: 90%;
}


.name {
    background-image: url("vanilla.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: contain;
    color: #f6ee8d;
    float: left;
    font-size: 25px;
    font-style: italic;
    height: 40px;
    margin-bottom: 10px;
    padding: 0;
    width: 25%;
}

.text-1 {
    color: #f6ee8d;
    display: block;
    float: right;
    font-size: 13px;
    margin: 5px;
}

.mini-display {
    background-color: #c0c9b8;
    border-bottom: 5px solid #787575;
    border-left: 5px solid #656262;
    border-radius: 3%;
    border-right: 5px solid #817e7e;
    border-top: 5px solid #787575;
    color: rgb(53, 61, 55);
    float: right;
    font-size: 10px;
    height: 37px;
    padding: 0 2px;
    text-shadow: 2px 2px 3px #dbe3d2;
    width: 75%;
}

.display-box {
    background-color: #c0c9b8;
    border-bottom: 12px solid#787575;
    border-left: 13px solid #656262;
    border-radius: 3%;
    border-right: 12px solid #817e7e;
    border-top: 12px solid #787575;
    clear: both;
    height: 70px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.main-display {
    border-radius: 3px;
    color: rgb(53, 61, 55);
    float: right;
    font-size: 40px;
    height: 50px;
    letter-spacing: 0;
    padding-right: 3px;
    text-align: right;
    text-shadow: 2px 2px 3px #dbe3d2;
    width: 100%;
}

/*/////////////////////////////////////*/

.info {
    background-color: #dfac39;
    color: rgb(48, 36, 23);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 2px;
    text-align: left;
    text-indent: 7px;
}

.text-2 {
    clear: both;
    color: #f6ee8d;
    float: right;
    font-size: 12px;
    font-style: italic;
    margin: 5px;
}

.buttons-container {
    -ms-flex-align: center;
    -ms-flex-pack: distribute;
    -ms-flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    clear: both;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
    margin: auto;
    max-width: 275px;
    min-width: 260px;
    min-height: 303px;
    width: 100%;
}

.bt::after {
    border-bottom: 2px solid #000000;
    border-left: 2px solid black;
    border-radius: 8px 1px 8px 1px;
    bottom: 28px;
    content: "";
    display: block;
    height: inherit;
    position: relative;
    right: 13px;
    width: inherit;
}

.bt {
    -o-transition: background-color 0.5s;
    -o-transition: border-width 0.5s;
    -o-transition: box-shadow 0.5s;
    -webkit-transition: -webkit-box-shadow 0.5s;
    -webkit-transition: background-color 0.5s;
    -webkit-transition: border-width 0.5s;
    border-radius: 5px 1px 8px 1px;
    border-top: 0;
    color: #fefcc2;
    font-size: 15px;
    font-weight: bold;
    height: 43px;
    /* margin: 5px;
    margin-left: -2px;
    margin-top: 5px; */
    padding: 10px 5px 5px 5px;
    text-indent: 5px;
    transition: -webkit-box-shadow 0.5s;
    transition: background-color 0.5s;
    transition: border-width 0.5s;
    transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s;
    width: 52px;
    margin: 5px 5px;
}

.bt-help {
    text-indent: -0.02em;
}

.operations {
    background-color: #56697f;
    border-bottom: 8px solid #56697f;
    border-left: 6px solid #89a0ba;
    border-right: 6px solid #56697f;
}

.numbers {
    background-color: #685745;
    border-bottom: 8px solid #685745;
    border-left: 6px solid #826c54;
    border-right: 6px solid #685745;
}

.bt::-moz-focus-inner {
    border: 0;
}

.operations:focus,
.operations:hover {
    background-color: #465362;
    border-bottom: 8px solid #465362;
    border-left: 6px solid #586b7d;
    border-right: 6px solid #465362;
    outline: none;
}

.numbers:focus,
.numbers:hover {
    background-color: #493c2e;
    border-bottom: 8px solid #493c2e;
    border-left: 6px solid #63513e;
    border-right: 6px solid #493c2e;
    outline: none;
}

.bt:active {
    border-radius: 0;
    border: 0;
    height: 36px;
    margin-right: 8px;
    margin-top: 10px;
    width: 49px;
}

.bt:active::after {
    border-radius: 3px;
    border: 1px solid black;
    bottom: 29px;
    height: inherit;
    height: 37px;
    right: 6px;
    width: 50px;
    width: inherit;
}

.bt-active {
    border-radius: 0;
    border: 0;
    height: 36px;
    left: 0;
    margin-right: 8px;
    margin-top: 10px;
    margin: 0;
    position: relative;
    top: 3px;
    width: 52px;
}

.bt-active::after {
    border-radius: 3px;
    border: 1px solid black;
    bottom: 29px;
    height: 37px;
    position: relative;
    right: 7px;
    width: 52px;
}

#mc,
#ac,
#clear,
#back {
    color: red;
}

.info-E {
    bottom: 0;
    font-size: 13px;
    padding-left: 3px;
    position: absolute;
}

.info-M {
    font-size: 13px;
    padding-left: 3px;
    position: absolute;
    top: 0;
}

.footer {
    color: #687b91;
    text-align: center;
    font-size: 0.8em;
    margin-top: 2rem;
}

@media all and (min-width: 320px) {
    .mini-display {
        font-size: 13px;
        height: 45px;
    }
}

@media all and (min-width: 350px) {
    .display {
        letter-spacing: 5px;
    }

    .info {
        letter-spacing: 0px;
    }
}

@media all and (min-width: 430px) {
    .calculator {
        margin-top: 20px;
    }

    .display {
        letter-spacing: 7px;
    }

    .info {
        letter-spacing: 0px;
    }

    p {
        margin: 10px;
    }

    .bt {
        margin: 5px 5px;
    }

    .buttons-container {
        max-width: 280px;
    }

    .container {
        height: 90%;
        margin: 5% auto;
    }
}

@media all and (min-width: 1440px) {
    .calculator {
        margin-top: 60px;
    }

}